<launch>
    <arg name="joy_device" default="/dev/input/js0"/>
    <arg name="repeat_rate" default="40.0"/>
    <arg name="trajectory_config" default="$(find mercury_trajectory)/config/trajectory.yaml"/>
    <arg name="arka_config" default="$(find arka_manipulator)/config/joy_config.yaml"/>

    <node pkg="joy" type="joy_node" name="ros_joy" respawn="true" respawn_delay="1">
        <param name="dev" value="$(arg joy_device)"/>
        <param name="autorepeat_rate" value="$(arg repeat_rate)"/>
    </node>

    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>

    <node pkg="mercury_joy" type="joy-node.py" name="mercury_joy">
        <param name="mercury_publish_rate" value="$(arg repeat_rate)"/>        
    </node>
    <node pkg="xbox_controller" type="controller" name="xbox_rumble_controller">
        <param name="service_name" value="/mercury/joy/rumble"/>
    </node>
    <node pkg="mercury_trajectory" type="trajectory-node.py" name="mercury_trajectory"/>
    <node pkg="mercury_power_management" type="power_manager.py" name="mercury_power_management"/>

    <node pkg="arka_manipulator" name="manipulator" type="joy_manipulator_arka" output="screen" respawn="true" respawn_delay="1">
        <rosparam command="load" file="$(arg arka_config)" />
        <param name="main_board_ip" type="string" value="192.168.10.170" />
        <param name="sensor_board_ip" type="string" value="192.168.10.20" />
        <param name="main_board_port" type="string" value="3030" />
        <param name="sensor_board_port" type="string" value="3030" />
        <param name="joint1/ratio" type="int" value="2825" />
        <param name="joint2/ratio" type="int" value="3900" />
        <param name="joint3/ratio" type="int" value="2825" />
        <param name="joint4/ratio" type="int" value="1" />
    </node>

    <node pkg="mercury_ocu_driver" type="ocu_driver_node.py" name="mercury_ocu_driver" respawn="true" respawn_delay="1"/>
    <node pkg="mercury_dynparam" type="dynparam" name="mercury_dynparam">
        <param name="trajectory_joy" value="mercury_joy;$(find mercury_trajectory)/config/joy.yaml"/>
        <param name="manipulator_joy" value="mercury_joy;$(find arka_manipulator)/config/joy_new_config.yaml"/>
    </node>
    <node pkg="mercury_state_controller" type="state_controller" name="mercury_state_controller">
        <param name="back_button" value="back_button"/>
        <param name="arm_toggler" value="left_axes_button right_axes_button"/>
    </node>
    <node name="dynamic_reconfigure_load_trajectory" pkg="dynamic_reconfigure" type="dynparam" args="load /mercury_trajectory $(arg trajectory_config)" />
</launch>