<launch>
    <arg name="joy_device" default="/dev/input/js0"/>
    <arg name="repeat_rate" default="40.0"/>
    <arg name="joy_config" default="$(find mercury_trajectory)/config/joy.yaml"/>
    <arg name="trajectory_config" default="$(find mercury_trajectory)/config/trajectory.yaml"/>

    <node pkg="joy" type="joy_node" name="ros_joy" respawn="true" respawn_delay="1">
        <param name="dev" value="$(arg joy_device)"/>
        <param name="autorepeat_rate" value="$(arg repeat_rate)"/>
    </node>

    <node pkg="mercury_joy" type="joy-node.py" name="mercury_joy">
        <param name="mercury_publish_rate" value="$(arg repeat_rate)"/>
    </node>
    <node pkg="mercury_trajectory" type="trajectory-node.py" name="mercury_trajectory"/>
    <node pkg="mercury_power_management" type="power_manager.py" name="mercury_power_management"/>

    <node name="dynamic_reconfigure_load_trajectory" pkg="dynamic_reconfigure" type="dynparam" args="load /mercury_trajectory $(arg trajectory_config)" />
    <node name="dynamic_reconfigure_load_joy" pkg="dynamic_reconfigure" type="dynparam" args="load /mercury_joy $(arg joy_config)" />

    <node pkg="mercury_ocu_driver" type="ocu_driver_node.py" name="mercury_ocu_driver" respawn="true" respawn_delay="1">
    </node>
</launch>