<launch>
    <arg name="xsense_device" default="/dev/xsense"/>
    <arg name="laser_device" default="/dev/hokuyo_H0902975"/>
    <arg name="xtion_device" default="/dev/xtion"/>
    <arg name="webcam_device" default="/dev/webcam"/>

    <include file="$(find mercury_launch)/launch/xsens_driver.launch">
        <arg name="device" value="$(arg xsense_device)"/>
        <arg name="respawn" value="true"/>
    </include>

    <node pkg="mercury_usb" type="usb-node.py" name="mercury_usb" respawn="true" respawn_delay="1">
        <param name="devices" value="$(arg xsense_device),$(arg webcam_device),$(arg xtion_device),$(arg laser_device)"/>
    </node>

    <include file="$(find openni2_launch)/launch/openni2.launch">
    </include>

    <!-- <include file="$(find mercury_launch)/launch/webcam.launch">
        <arg name="webcam_device" value="$(arg webcam_device)"/>
    </include> -->

    <include file="$(find mercury_launch)/launch/laser.launch">
        <arg name="laser_port" value="$(arg laser_device)"/>
    </include>

    <node pkg="mercury_laser_distance" type="laser-node.py" name="mercury_laser_distance" respawn="true" respawn_delay="1">
        <param name="angle" value="0"/>
    </node>

    <group ns="optris">
        <node name="optris_imager_node" pkg="optris_drivers" type="optris_imager_node" output="screen">
            <param name="xmlConfig"      type="string" value="/usr/share/libirimager/cali/Cali-14020049.xml"/>
        </node>

        <node name="optris_colorconvert_node" pkg="optris_drivers" type="optris_colorconvert_node">
            <param name="palette"        type="int"    value="6"/>
            <param name="paletteScaling" type="int"    value="1"/>
            <param name="temperatureMin" type="double" value="22"/>
            <param name="temperatureMax" type="double" value="50"/>
            <param name="looprate"       type="double" value="30"/>
        </node>
    </group>
</launch>