<launch>
    <arg name="xsense_device" default="/dev/xsense"/>

    <include file="$(find mercury_launch)/launch/xsens_driver.launch">
        <arg name="device" value="$(arg xsense_device)"/>
        <arg name="respawn" value="true"/>        
    </include>

    <node pkg="mercury_usb" type="usb-node.py" name="mercury_usb" respawn="true" respawn_delay="1">
        <param name="devices" value="$(arg xsense_device)"/>
    </node>
</launch>